<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'exercises')}">

<body>


<h2>Exercise Information</h2>


<table class="table table-striped" th:object="${exercise}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="*{description}" /></td>
    </tr>
    <tr>
        <th>Difficult Level</th>
        <td th:text="*{difficultLevel}" /></td>
    </tr>
    <tr>
        <th>Steps</th>
        <td th:text="*{step}" /></td>
    </tr>
</table>

<br />
<br />
<br />

</body>

</html>
