<html xmlns:th="https://www.thymeleaf.org">

<head>
        <link href="/resources/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>LOGIN</title>


</head>

<body>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Site<span>Random</span></div>
</div>
<br>
<form th:action="@{/login}" method="post">
<div class="login">
    <input type="text" placeholder="username" name="username"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit" value="Login">
</div>
</form>

</body>
</html>
